html, body{
  background-color: #2d2b2b;
  color: #e4d8d9;
  margin: 0px;
  height: 100%;
  padding: 0px;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 16px;
}

.everything{
  width: 800px;
  margin: auto;
  padding-bottom: 20px;
}

#carousel{
  margin-top: 30px;
}

.div-content{
  padding: 20px;
}

.is-clickable{
  cursor: pointer;
}

.header{
  width: 100%;
  text-align: center;
  color: #e4d8d9;
  padding-top: 30px;
}
.header > h1 {
  margin: 0px;
  font-weight: bold;
  font-size: 40px;

}

/* Buttons */
.btn{
  background-color: #2d2b2b;
  color: #e4d8d9;
  font-size: 16px;
}
.btn.off{
  color: #5b5656;
  border-color: #5b5656;
  pointer-events: none;
  cursor: default;
}

.btn:hover{
  background-color: #444041;
  color: #794044;
  color: #e4d8d9;
}

.footer{
  margin-top: 20px;
  text-align: center;
  font-size: 12px;
}

.max-width-500{ max-width: 500px; }
.margin-top-20{margin-top: 20px;}
.display-none{display: none;}

.form-width{
  width: 400px;
  margin: auto; 
}

/* Carousel */
.carousel-inner {
  width: 60%;
  height: 340px;
  max-height: 340px;
  overflow: hidden;
  text-align: center;
  left: 50%;
  width: 60%;
  margin-left: -30%;
}

  
.intro-site{
  padding-top: 20px;
  padding-bottom: 40px;
  text-align: center;
}
.section > .title{
  font-weight: bold;
  margin-top: 20px;
  color: #794044;
}
.section > .content{
  padding-top: 10px;
  padding-left: 30px;
}


.button-to-gallery{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.button-to-gallery > a{
  width: 30%;
  font-size: 24px;
  margin: 10px;
  padding: 15px 0px 15px 0px;
}

/* Gallery */
.links{
  margin-top: 30px;
  text-align: center;
}
.links h2{
  margin-bottom: 20px;
}
.div-panel{
  padding-top: 50px;
  text-align: center;
  width: 40%;
  display: inline-block;
  margin: 4%;
}
.div-panel img {
  width: 100%;
}
.div-panel > .title{
  font-weight: bold;
  font-size: 18px;
}
.div-panel > .subtitle{
  font-size: 14px;
}

.map, #map{
  height: 200px;
}