body{
    margin: 0px !important;
    padding: 0px !important;
    background-color: #111 !important;
    font-family: 'sanss';
}
@font-face {
    font-family: 'sanss';
    src: url(../fonts/sanss.ttf) format('truetype'),
        url(../fonts/sanss.woff) format('woff');
}
@font-face {
    font-family: 'staccato';
    src: url(../fonts/staccato-222-bt.ttf);
}
.middle{
    display: block;
    margin-top: 0px;
    top: 0px;
    width: 800px;
    margin: auto;
}
.admin_content{
  width: 900px;
  padding: 10px;
  background-color: #555;
  color: #eee;
}
.is-clickable{
  cursor: pointer;
}
.display-none{
  display: none;
}
a{
    text-decoration: none !important;
    color: #bbb !important;
}
.header > ul{
    list-style: none;
    background: rgba(150,150,150,0.2);
    color: #bbb;
    width: 650px;
    margin: auto;
    padding: 5px;
    margin-top: 40px;
    text-align: center;
    font-size: 13pt;
}
li{
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
}
.header{
    text-align: center;
    height: 130px;
    padding: 30px;
}
.title{
    color: #ddd;
    margin: 0px;
    font-weight: normal;
    display: block;
    font-size: 28pt;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    background: rgba(150,150,150,0.2);
}
.title img {
    width: 110px;
}
.reverse{
    transform: scaleX(-1);
}
.footer{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    font-size: 10pt;
    align-items: flex-start;
    padding-top: 20px;
    width: 800px;
    background-color: inherit;
    color: #ddd;
}
.footer-title {
    font-size: 14pt;
    display: block;
    margin-bottom: 10px;
}
.staccato {
    font-family: 'staccato';
    font-size: 20pt;
}
.footer ul > li{
    list-style: none;
    display: block;
}
.map, #map{
  height: 300px;
  margin-bottom: 20px;
}

.content{
    background-color: #333;
    margin: 0px !important;
    padding-bottom: 10px;
}
.content h2 {
    color: #eee;
    text-align: center;
    padding: 20px;
}
.gallery img{
    padding-bottom: 10px;
    width: 100%;
}
.gallery{
    padding: 10px;
    display: flex;
    min-height: 400px;
    margin-right: 40px;
    margin-left: 40px;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}
.gallery .sub{
    width: 33.33%;
    padding: 8px;
}
.event-content{
    padding-left: 60px;
    padding-right: 60px;
}
form.form p{
    width: 400px;
    margin: auto;
    margin-top: 40px;
}

form.form{
    padding-top: 1px;
    padding-bottom: 20px;
}
form.form input,textarea,button{
    display: block;
    margin: auto;
    margin-top: 20px;
    min-width: 400px;
    height: 28px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}
form.form textarea{
    height: 150px;
}
form.form button{
    min-width: 424px;
    height: 35px;
}
.alert{
    padding: 15px;
    max-width: 400px;
    min-width: 400px;
    margin: auto;
    margin-top: 20px;
    border-radius: 15px;
}
.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}
.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

h2{
    display: block;
    margin: 0px;
    text-transform: uppercase;
}