<ul>
    <li>
      <a href="/">Accueil</a>
    </li>
    <li>
      <a href="/meubles">Meubles</a>
    </li>
    <li>
      <a href="/decoration">Décorations</a>
    </li>
    <li>
      <a href="/atelier">L'atelier
      </a></li>
    <li>
      <a href="/evenements">Evènements</a>
    </li>
    <li>
      <a href="/contact">Contact</a>
    </li>
</ul>