<div class="margin-left-50">
    <h1><span class="glyphicon glyphicon-wrench"></span>Admin</h1>
</div>

<ul>
  <li><a href="/admin/gallery">Galerie</a></li>
  <li><a href="/admin/constants">Constants</a></li>
  <li><a href="/admin/notifications">Notifications</a></li>
  <li><a href="/">Site</a></li>
</ul>

<%= js :admin %>

<hr>