<%= erb :admin_layout %>
<%= js :panel_form %>

<h2>Création</h2>


<form class="form-horizontal" method="post">
  <div class="form-group">
    <label for="title" class="col-sm-3 control-label">Titre</label>
    <div class="col-sm-9">
      <input type="text" name="title" class="form-control" id="title" value="<%= @panel.title%>">
    </div>
  </div>
  <div class="form-group">
    <label for="subtitle" class="col-sm-3 control-label">Sous-titre</label>
    <div class="col-sm-9">
      <input type="text" name="subtitle" class="form-control" id="subtitle" value="<%= @panel.subtitle%>">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-9">
      <button type="submit" class="btn btn-default">Créer</button>
    </div>
  </div>
</form>