
<div class="centered generica">
	<h1 class="title">Hervé Bonnot: mes créations</h1>

  <div class="intro-site">Bienvenue sur mon site, où je vous propose de regarder mes créations. Ici je met un joli texte d'introduction, je parle un peu de moi.</div>

  <img class="image-news" src="images/porte_carte.jpg" title="image intro"/>
  <div class="text-image-news">
    Présent à l'Estivale Artistique 2014 - LAMARCHE SUR SAONE <br>
      Chapelle Notre-Dame de Lamarchotte <br>
      Du samedi 24 mai au dimanche 22 juin 2014 <br>
      Ouverture de l'exposition les samedis, dimanches et jours fériés de 14h30 à 18h30 <br>
      et le dimanche 22 juin de 10h à 18h30 <br>
  </div>

  <a class="btn btn-custom" href="/contact" >Me contacter</a>
</div>
